{
	"rules": {
		"indent": [2, "tab", { "SwitchCase": 1 }]
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["html"],
	"settings": {
		"html/indent": "tab",
		"html/report-bad-indent": 2
	}
}
