{
	"root": true,
	"env": {
		"browser": true,
		"amd": true,
		"node": true,
		"es6": true,
		"jquery": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"parser": "babel-eslint"
	},
	"extends": [
		"airbnb-base",
		"plugin:vue/essential",
		"plugin:prettier/recommended",
		"eslint:recommended"
	],
	"globals": {
		"lofig": "writable",
		"grecaptcha": "readonly",
		"ga": "readonly",
		"moment": "readonly"
	},
	"rules": {
		"no-console": 0,
		"no-control-regex": 0,
		"no-var": 2,
		"no-underscore-dangle": 1,
		"prefer-promise-reject-errors": 0, // temp
		"no-nested-ternary": 0, // temp
		"radix": 0,
		"no-multi-assign": 0,
		"no-shadow": 0
	}
}
