root = true

[*]
charset = utf-8
indent_style = tab

[frontend/nginx.conf]
charset = utf-8
indent_style = space
indent_size = 4

[docker-compose.yml]
charset = utf-8
indent_style = space
indent_size = 2

end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
continuation_indent_size = 4
