Thumbs.db
.DS_Store
*.swp
.idea/
.vagrant/

startRedis.cmd
startMongo.cmd
.database
dump.rdb
npm-debug.log

# Back End
backend/node_modules/
backend/config/default.json

# Front End
frontend/node_modules/
frontend/build/bundle.js
frontend/build/config/default.json

npm
*.log