Thumbs.db
.DS_Store
*.swp
.idea/
.vscode/
.vagrant/

.env
startRedis.cmd
startMongo.cmd
.database
.db
.redis
*.rdb
backups/
compose.override.yml
docker-compose.override.yml

npm-debug.log
lerna-debug.log

# Backend
backend/node_modules/
backend/config/local*.json
backend/build

# Frontend
frontend/bundle-stats.json
frontend/bundle-report.html
frontend/node_modules/
frontend/build/
frontend/src/coverage/

npm
node_modules
package-lock.json
.eslintcache

# Logs
log/
