Thumbs.db
.DS_Store
*.swp
.idea/
.vscode/
.vagrant/

startRedis.cmd
startMongo.cmd
.database
.redis
*.rdb
npm-debug.log

# Back End
backend/node_modules/
backend/config/default.json

# Front End
frontend/node_modules/
frontend/dist/build/
!frontend/dist/lofig.min.js
frontend/dist/index.html
frontend/dist/config/default.json

npm

# Logs
log/
.env
