services:
  backend:
    ports:
      - "${BACKEND_HOST:-0.0.0.0}:${BACKEND_PORT:-8080}:8080"
    volumes:
      - ./backend:/opt/app
      - ./types:/opt/types

  frontend:
    volumes:
      - ./frontend:/opt/app
      - ./types:/opt/types

  mongo:
    ports:
      - "${MONGO_HOST:-0.0.0.0}:${MONGO_PORT:-27017}:${MONGO_PORT:-27017}"

  redis:
    ports:
      - "${REDIS_HOST:-0.0.0.0}:${REDIS_PORT:-6379}:6379"
    volumes:
      - ${REDIS_DATA_LOCATION:-./redis}:/data
