$musareBlue: hsl(199, 98%, 48%);
$teal: hsl(171, 100%, 41%);
$purple: hsl(302, 56%, 36%);
$light-purple: hsl(263, 49%, 70%);
$yellow: hsl(46, 93%, 53%);
$light-pink: hsl(351, 57%, 75%);
$dark-pink: hsl(351, 79%, 60%);
$light-orange: hsl(22, 100%, 50%);
$dark-orange: hsl(12, 100%, 49%);
$lime: hsl(114, 69%, 49%);
$green: hsl(114, 76%, 36%);
$blue: hsl(214, 82%, 48%);
$red: hsl(0, 86%, 49%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$light-grey: hsl(0, 0%, 96%);
$light-grey-2: hsl(300, 2%, 76%);
$dark-grey: hsl(0, 0%, 30%);
$dark-grey-2: hsl(0, 0%, 20%);
$dark-grey-3: hsl(0, 0%, 10%);

$primary-color: $musareBlue;