@import 'colors.scss';

body {
	background-color: $light-grey;
	color: $dark-grey;
	font-family: 'Roboto',Helvetica,Arial,sans-serif;
}

a {
	color: $primary-color;
	text-decoration: none;
}

.button {
	&.is-success {
		background-color: $green !important;

		&:hover, &:focus {
			background-color: darken($green, 5%) !important;
		}
	}
	&.is-primary {
		background-color: $primary-color !important;
		
		&:hover, &:focus {
			background-color: darken($primary-color, 5%) !important;
		}
	}
	&.is-danger {
		background-color: $red !important;
		
		&:hover, &:focus {
			background-color: darken($red, 5%) !important;
		}
	}
	&.is-info {
		background-color: $blue !important;

		&:hover, &:focus {
			background-color: darken($blue, 5%) !important;
		}
	}
}

.center {
	text-align: center;
}