main {
  .modal {
    position: fixed;
    display: block;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 90001;
    padding: 12px;
    transition: top 0.5s ease;
    overflow: hidden;

    .modal-title {
      text-align: center;
      font-size: 32px;
      margin: 0 12px;
      height: 42px;
      line-height: 42px;
      display: inline-block;
      width: calc(100% - 24px);
    }

    .modal-exit {
      cursor: pointer;
      position: absolute;
      right: 8px;
      top: 8px;
      font-size: 24px;
    }

    .modal-input {
      outline: none;
      border: 1px solid #d3d3d3;
      padding-left: 8px;
      font-size: 16px;
      height: 42px;
      line-height: 42px;
      margin: 8px 12px;
      display: inline-block;
      width: calc(100% - 24px);
    }

    .modal-recaptcha {
      display: block;
      height: 76px;
      overflow: hidden;
      margin: 8px 12px;
      display: inline-block;
      width: calc(100% - 24px);
    }

    .modal-submit {
      cursor: pointer;
      color: white;
      background-color: #1976d2;
      font-size: 24px;
      text-align: center;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
      display: inline-block;
      width: calc(100% - 24px);
      height: 42px;
      line-height: 42px;
      margin: 8px 12px;

      &:hover {
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
      }
    }

    .modal-account-btn {
      float: left;
      width: 144px;
      height: 144px;
      line-height: 144px;
      text-align: center;
      background-color: #e9e9e9;
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      margin: 12px;
      color: #3a3a3a;
      cursor: pointer;

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }
}