name: Musare Build and Lint

on: [ push, pull_request, workflow_dispatch ]

env:
    COMPOSE_PROJECT_NAME: musare
    RESTART_POLICY: unless-stopped
    APP_ENV: production
    BACKEND_HOST: 127.0.0.1
    BACKEND_PORT: 8080
    FRONTEND_HOST: 127.0.0.1
    FRONTEND_PORT: 80
    MONGO_HOST: 127.0.0.1
    MONGO_PORT: 27017
    MONGO_ROOT_PASSWORD: PASSWORD_HERE
    MONGO_USER_USERNAME: musare
    MONGO_USER_PASSWORD: OTHER_PASSWORD_HERE
    MONGO_DATA_LOCATION: .db
    MONGO_VERSION: 5.0
    REDIS_HOST: 127.0.0.1
    REDIS_PORT: 6379
    REDIS_PASSWORD: PASSWORD
    REDIS_DATA_LOCATION: .redis

jobs:
    build-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Build Musare
              run: |
                  cp .env.example .env
                  ./musare.sh build
            - name: Start Musare
              run: ./musare.sh start
            - name: Backend Lint
              run: ./musare.sh lint backend
            - name: Backend Typescript
              run: ./musare.sh typescript backend
            - name: Frontend Lint
              run: ./musare.sh lint frontend
#            - name: Frontend Typescript
#              run: ./musare.sh typescript frontend
            - name: Docs Lint
              run: ./musare.sh lint docs
